{
  "openapi": "3.1.0",
  "info": {
    "title": "Factuarea Public API",
    "version": "1.0.0",
    "description": "Public REST API for invoicing in Spain — manage invoices, quotes, proformas, delivery notes, products, clients and webhooks.\n\n## Authentication\n\nThe API authenticates with a secret **API key**, sent on every request as:\n\n```\nAuthorization: Bearer fact_live_xxxxxxxxxxxxxxxxxxxxxxxx\n```\n\nor, alternatively, in the `X-API-Key` header. The key is issued from the Factuarea portal and must NEVER be exposed in public clients (browser, mobile apps).\n\n## Environments: `live` and `test`\n\nEach API key belongs to one of two environments, unambiguously identifiable by its **prefix**:\n\n| Prefix | Environment | Data it operates on | External effects |\n|---------|---------|---------------------------|------------------|\n| `fact_live_` | **live** (production) | Your real company | Real: legal fiscal numbering, VeriFactu→AEAT, emails to clients, outbound webhooks |\n| `fact_test_` | **test** (sandbox) | An isolated *sandbox* company | **Neutralized** (see below) |\n\nThe prefix is the **source of truth** for the environment: a `fact_test_` key always operates in test mode and a `fact_live_` key always in live. There is no request parameter that changes the environment — it is determined by the key.\n\n### Data isolation (sandbox)\n\n`fact_test_` keys operate on a dedicated **sandbox company** (a technical \"twin company\" of the account holder, automatically provisioned the first time test mode is used, which inherits the plan of your real company for faithful *feature-gating*). Thanks to per-company data isolation:\n\n- Resources created with a `fact_test_` key are **not visible** from a `fact_live_` key, and vice versa.\n- Test fiscal numbering uses the sandbox's own series and **never** consumes or alters the sequential numbering of your production series.\n\nThe functional surface is **identical** in both environments: the same endpoints and operations are available in test as in live.\n\n### External effects neutralized in test\n\nWhen you operate with a `fact_test_` key (sandbox environment), outbound effects are **disabled** so you can test your integration without real consequences:\n\n- **VeriFactu**: the Alta record is created locally, but **not transmitted to AEAT**.\n- **Email**: document emails are **not delivered** to real recipients.\n- **Webhooks**: events are **not delivered** to your external HTTP endpoints.\n\nIn `live`, all these effects fire normally.\n\n> **Recommendation**: always integrate and test first with a `fact_test_` key. Once your flow works, switch to the `fact_live_` prefix to operate in production."
  },
  "servers": [
    {
      "url": "https://api.factuarea.com/v1",
      "description": "Production"
    }
  ],
  "security": [
    {
      "http": []
    },
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/crm/lead-score-runs/{run}/apply": {
      "post": {
        "operationId": "crmApplyLeadScoreRecalculation",
        "description": "Uses the authenticated company, actor and environment, with current module, plan, membership, scopes and field restrictions. UUIDs, revisions and preview hashes are metadata, never access grants. Omitted fields are preserved and null clears only nullable fields. Foreign and invisible records remain opaque. Conversion is explicit and creates no opportunity, document or task.",
        "summary": "Apply Lead Score Recalculation",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "run",
            "in": "path",
            "required": true,
            "description": "Public Lead or scoring-run UUID v7; it grants no access.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional printable ASCII key. Reuse with the same intent revalidates current authority; different intent returns 409. Confirmed identity replay reads the current representation without repeating the effect.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[ -~]+$"
            }
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Authority and private effect identities come from the server. The fiscal owner validates contact drafts; parent, definition and value revisions are independent.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crmApplyLeadScoreRecalculationRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Current authorized representation; replay does not repeat effects. A committed write whose representation is unavailable returns its minimal confirmed identity receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/LeadScoreRecalculationRun"
                        },
                        {
                          "$ref": "#/components/schemas/LeadConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current membership, scopes or field policies deny access; revoked context never becomes a successful receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "The parent version, authorization, signed cursor, preview or idempotent intent changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input, UUID, confirmation, idempotency key or current business/release restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible UUIDs share the same resource_not_found response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_leads:write",
        "x-required-oauth-scope": "crm_leads.write",
        "x-crm-operation": "crm_leads.apply_score_recalculation",
        "x-crm-requires-confirmation": true,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/contact-people/{person}/archive": {
      "post": {
        "operationId": "crmContactPeopleArchive",
        "description": "Uses the authenticated company, actor and environment with current plan, module capability, membership, scopes and field policies. Public identities use id and *_id; user identities accept canonical historical UUIDs. Fiscal contacts, roles and documents are never created or changed by these operations. Requires delete capability and current expected_version. Archive preserves historical children, relationships and fiscal references and removes the node from active selection. Human confirmation is required by assistant surfaces. After a committed write, lost representation access retains success with data={id,confirmed:true,representation_available:false}; reconcile that receipt without repeating the effect.",
        "summary": "Archive a CRM contact person or organization",
        "tags": [
          "CRM Contact People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "person",
            "in": "path",
            "required": true,
            "description": "Canonical CRM node UUID v7; hidden and foreign nodes are not found.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-7[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            }
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Company, actor, environment and authority are derived from authentication and cannot be supplied.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ArchiveContactPersonV1Request"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Authorized result or minimal confirmed receipt after a committed write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CrmContactPerson"
                        },
                        {
                          "$ref": "#/components/schemas/CrmContactPersonConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current scope, module capability, membership, record or field policy denies access (crm_access_denied or crm_context_revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found: absent, foreign and invisible UUIDs are indistinguishable; no hidden alias or neighbor is disclosed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "Record or authorization revision changed, preview is stale, or UUID/origin fingerprint conflicts (crm_version_conflict, crm_contact_person_plan_changed or resource_already_exists).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input or current business/release restriction (business_rule_violation, crm_operation_unavailable or crm_sandbox_blocked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_contact_people:delete",
        "x-crm-operation": "crm_contact_people.archive",
        "x-crm-requires-confirmation": true,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/pipelines/{pipeline}/stages/{stage}/archive": {
      "post": {
        "operationId": "archivePipelineStage",
        "description": "Uses the authenticated company, actor and environment with current membership, scope, module and entitlement. Public id and *_id values are UUIDv7. Unknown fields and implicit coercions are rejected. Missing or invisible identities return 404. Queries do not change configuration or usage. Updates require the current CAS version; conflicts retain the draft. A completed write may return a confirmed receipt when its representation is no longer readable. Remapping requires the Opportunity owner; absence returns crm_operation_unavailable.",
        "summary": "Archivar etapa",
        "tags": [
          "CRM Pipeline"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "description": "Public resource UUIDv7; authority is supplied by authentication.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "stage",
            "in": "path",
            "required": true,
            "description": "Public resource UUIDv7; authority is supplied by authentication.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          }
        ],
        "requestBody": {
          "description": "Closed JSON object, maximum 256 KiB. Omitted values retain their current value; null only clears explicitly nullable fields. Stage probabilities are finite decimal strings.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineArchivePipelineStageRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Authorized result or a confirmed receipt after the completed write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Pipeline"
                        },
                        {
                          "$ref": "#/components/schemas/PipelineConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current scope, membership or record access denies this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "crm_version_conflict: resource, usage, definition, authorization, plan or cursor changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or business/release restriction, including crm_operation_unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected infrastructure failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible identities are indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_pipelines:write",
        "x-crm-operation": "crm_pipelines.archive_stage",
        "x-crm-requires-confirmation": true,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/pipelines/{pipeline}/archive": {
      "post": {
        "operationId": "archivePipeline",
        "description": "Uses the authenticated company, actor and environment with current membership, scope, module and entitlement. Public id and *_id values are UUIDv7. Unknown fields and implicit coercions are rejected. Missing or invisible identities return 404. Queries do not change configuration or usage. Updates require the current CAS version; conflicts retain the draft. A completed write may return a confirmed receipt when its representation is no longer readable. Remapping requires the Opportunity owner; absence returns crm_operation_unavailable.",
        "summary": "Archivar embudo",
        "tags": [
          "CRM Pipeline"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "pipeline",
            "in": "path",
            "required": true,
            "description": "Public resource UUIDv7; authority is supplied by authentication.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          }
        ],
        "requestBody": {
          "description": "Closed JSON object, maximum 256 KiB. Omitted values retain their current value; null only clears explicitly nullable fields. Stage probabilities are finite decimal strings.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PipelineArchivePipelineRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Authorized result or a confirmed receipt after the completed write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Pipeline"
                        },
                        {
                          "$ref": "#/components/schemas/PipelineConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current scope, membership or record access denies this operation.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "crm_version_conflict: resource, usage, definition, authorization, plan or cursor changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid input or business/release restriction, including crm_operation_unavailable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected infrastructure failure.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible identities are indistinguishable.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_pipelines:write",
        "x-crm-operation": "crm_pipelines.archive",
        "x-crm-requires-confirmation": true,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/leads/{lead}/owner": {
      "put": {
        "operationId": "crmAssignLead",
        "description": "Uses the authenticated company, actor and environment, with current module, plan, membership, scopes and field restrictions. UUIDs, revisions and preview hashes are metadata, never access grants. Omitted fields are preserved and null clears only nullable fields. Foreign and invisible records remain opaque. Conversion is explicit and creates no opportunity, document or task.",
        "summary": "Assign Lead",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "lead",
            "in": "path",
            "required": true,
            "description": "Public Lead or scoring-run UUID v7; it grants no access.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional printable ASCII key. Reuse with the same intent revalidates current authority; different intent returns 409. Confirmed identity replay reads the current representation without repeating the effect.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[ -~]+$"
            }
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Authority and private effect identities come from the server. The fiscal owner validates contact drafts; parent, definition and value revisions are independent.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crmAssignLeadRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Current authorized representation; replay does not repeat effects. A committed write whose representation is unavailable returns its minimal confirmed identity receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Lead"
                        },
                        {
                          "$ref": "#/components/schemas/LeadConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current membership, scopes or field policies deny access; revoked context never becomes a successful receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "The parent version, authorization, signed cursor, preview or idempotent intent changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input, UUID, confirmation, idempotency key or current business/release restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible UUIDs share the same resource_not_found response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_leads:write",
        "x-required-oauth-scope": "crm_leads.write",
        "x-crm-operation": "crm_leads.assign",
        "x-crm-requires-confirmation": false,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/leads/{lead}/stage": {
      "put": {
        "operationId": "crmChangeLeadStage",
        "description": "Uses the authenticated company, actor and environment, with current module, plan, membership, scopes and field restrictions. UUIDs, revisions and preview hashes are metadata, never access grants. Omitted fields are preserved and null clears only nullable fields. Foreign and invisible records remain opaque. Conversion is explicit and creates no opportunity, document or task.",
        "summary": "Change Lead Stage",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "lead",
            "in": "path",
            "required": true,
            "description": "Public Lead or scoring-run UUID v7; it grants no access.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional printable ASCII key. Reuse with the same intent revalidates current authority; different intent returns 409. Confirmed identity replay reads the current representation without repeating the effect.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[ -~]+$"
            }
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Authority and private effect identities come from the server. The fiscal owner validates contact drafts; parent, definition and value revisions are independent.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crmChangeLeadStageRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Current authorized representation; replay does not repeat effects. A committed write whose representation is unavailable returns its minimal confirmed identity receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Lead"
                        },
                        {
                          "$ref": "#/components/schemas/LeadConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current membership, scopes or field policies deny access; revoked context never becomes a successful receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "The parent version, authorization, signed cursor, preview or idempotent intent changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input, UUID, confirmation, idempotency key or current business/release restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible UUIDs share the same resource_not_found response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_leads:write",
        "x-required-oauth-scope": "crm_leads.write",
        "x-crm-operation": "crm_leads.stage",
        "x-crm-requires-confirmation": false,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/leads/{lead}/convert": {
      "post": {
        "operationId": "crmConvertLead",
        "description": "Uses the authenticated company, actor and environment, with current module, plan, membership, scopes and field restrictions. UUIDs, revisions and preview hashes are metadata, never access grants. Omitted fields are preserved and null clears only nullable fields. Foreign and invisible records remain opaque. Conversion is explicit and creates no opportunity, document or task.",
        "summary": "Convert Lead",
        "tags": [
          "CRM Leads"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "lead",
            "in": "path",
            "required": true,
            "description": "Public Lead or scoring-run UUID v7; it grants no access.",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-f]{8}-[0-9a-f]{4}-7[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$"
            }
          },
          {
            "name": "Idempotency-Key",
            "in": "header",
            "description": "Optional printable ASCII key. Reuse with the same intent revalidates current authority; different intent returns 409. Confirmed identity replay reads the current representation without repeating the effect.",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 255,
              "pattern": "^[ -~]+$"
            }
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Authority and private effect identities come from the server. The fiscal owner validates contact drafts; parent, definition and value revisions are independent.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/crmConvertLeadRequest"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Current authorized representation; replay does not repeat effects. A committed write whose representation is unavailable returns its minimal confirmed identity receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/Lead"
                        },
                        {
                          "$ref": "#/components/schemas/LeadConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Missing, invalid or expired authentication.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current membership, scopes or field policies deny access; revoked context never becomes a successful receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "409": {
            "description": "The parent version, authorization, signed cursor, preview or idempotent intent changed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input, UUID, confirmation, idempotency key or current business/release restriction.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "Absent, foreign and invisible UUIDs share the same resource_not_found response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_leads:write",
        "x-required-oauth-scope": "crm_leads.write",
        "x-crm-operation": "crm_leads.convert",
        "x-crm-requires-confirmation": true,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      }
    },
    "/crm/contact-people": {
      "post": {
        "operationId": "crmContactPeopleCreate",
        "description": "Uses the authenticated company, actor and environment with current plan, module capability, membership, scopes and field policies. Public identities use id and *_id; user identities accept canonical historical UUIDs. Fiscal contacts, roles and documents are never created or changed by these operations. A new node returns 201. The same UUID or stable origin with the original accepted payload replays as 200 without repeating children or events; a different fingerprint returns 409. Origin erased reservations remain occupied. If reading the committed representation is no longer allowed, its minimal confirmed receipt is returned. After a committed write, lost representation access retains success with data={id,confirmed:true,representation_available:false}; reconcile that receipt without repeating the effect.",
        "summary": "Create a CRM contact person or organization",
        "tags": [
          "CRM Contact People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "description": "A closed JSON object. Company, actor, environment and authority are derived from authentication and cannot be supplied.",
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateContactPersonV1Request"
              }
            }
          }
        },
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "201": {
            "description": "New node created; returns its authorized representation or minimal confirmed receipt.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CrmContactPerson"
                        },
                        {
                          "$ref": "#/components/schemas/CrmContactPersonConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "200": {
            "description": "Original UUID or stable origin replay accepted without a second effect.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "oneOf": [
                        {
                          "$ref": "#/components/schemas/CrmContactPerson"
                        },
                        {
                          "$ref": "#/components/schemas/CrmContactPersonConfirmedReceipt"
                        }
                      ]
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "examples": [
                    "true"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current scope, module capability, membership, record or field policy denies access (crm_access_denied or crm_context_revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found: absent, foreign and invisible UUIDs are indistinguishable; no hidden alias or neighbor is disclosed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Record or authorization revision changed, preview is stale, or UUID/origin fingerprint conflicts (crm_version_conflict, crm_contact_person_plan_changed or resource_already_exists).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input or current business/release restriction (business_rule_violation, crm_operation_unavailable or crm_sandbox_blocked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_contact_people:write",
        "x-crm-operation": "crm_contact_people.create",
        "x-crm-requires-confirmation": false,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        }
      },
      "get": {
        "operationId": "crmContactPeopleIndex",
        "description": "Uses the authenticated company, actor and environment with current plan, module capability, membership, scopes and field policies. Public identities use id and *_id; user identities accept canonical historical UUIDs. Fiscal contacts, roles and documents are never created or changed by these operations. Visibility, privacy and field permissions precede filters, counts and pagination. Search matches the name and original or normalized channel values only when channels are readable and filterable. Ordering uses name or updated_at plus a UUID tie-breaker. The total counts only authorized rows.",
        "summary": "List CRM contact people and organizations",
        "tags": [
          "CRM Contact People"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          },
          {
            "name": "typed_filters",
            "in": "query",
            "schema": {
              "type": "string",
              "maxLength": 262144,
              "description": "JSON string: closed FilterPlan, scope contact, definition_version>=0, operator and, filters<=50. Field identities are canonical field_id. Native current masks precede SQL/count/page."
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 0,
              "maxLength": 255
            }
          },
          {
            "name": "kind",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "person",
                "organization"
              ]
            }
          },
          {
            "name": "status",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ],
              "default": "active"
            }
          },
          {
            "name": "contact_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-7[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "owner_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[47][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "team_id",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "uuid",
              "pattern": "^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-7[0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$"
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "AD",
                "AE",
                "AF",
                "AG",
                "AI",
                "AL",
                "AM",
                "AO",
                "AQ",
                "AR",
                "AS",
                "AT",
                "AU",
                "AW",
                "AX",
                "AZ",
                "BA",
                "BB",
                "BD",
                "BE",
                "BF",
                "BG",
                "BH",
                "BI",
                "BJ",
                "BL",
                "BM",
                "BN",
                "BO",
                "BQ",
                "BR",
                "BS",
                "BT",
                "BV",
                "BW",
                "BY",
                "BZ",
                "CA",
                "CC",
                "CD",
                "CF",
                "CG",
                "CH",
                "CI",
                "CK",
                "CL",
                "CM",
                "CN",
                "CO",
                "CR",
                "CU",
                "CV",
                "CW",
                "CX",
                "CY",
                "CZ",
                "DE",
                "DJ",
                "DK",
                "DM",
                "DO",
                "DZ",
                "EC",
                "EE",
                "EG",
                "EH",
                "ER",
                "ES",
                "ET",
                "FI",
                "FJ",
                "FK",
                "FM",
                "FO",
                "FR",
                "GA",
                "GB",
                "GD",
                "GE",
                "GF",
                "GG",
                "GH",
                "GI",
                "GL",
                "GM",
                "GN",
                "GP",
                "GQ",
                "GR",
                "GS",
                "GT",
                "GU",
                "GW",
                "GY",
                "HK",
                "HM",
                "HN",
                "HR",
                "HT",
                "HU",
                "ID",
                "IE",
                "IL",
                "IM",
                "IN",
                "IO",
                "IQ",
                "IR",
                "IS",
                "IT",
                "JE",
                "JM",
                "JO",
                "JP",
                "KE",
                "KG",
                "KH",
                "KI",
                "KM",
                "KN",
                "KP",
                "KR",
                "KW",
                "KY",
                "KZ",
                "LA",
                "LB",
                "LC",
                "LI",
                "LK",
                "LR",
                "LS",
                "LT",
                "LU",
                "LV",
                "LY",
                "MA",
                "MC",
                "MD",
                "ME",
                "MF",
                "MG",
                "MH",
                "MK",
                "ML",
                "MM",
                "MN",
                "MO",
                "MP",
                "MQ",
                "MR",
                "MS",
                "MT",
                "MU",
                "MV",
                "MW",
                "MX",
                "MY",
                "MZ",
                "NA",
                "NC",
                "NE",
                "NF",
                "NG",
                "NI",
                "NL",
                "NO",
                "NP",
                "NR",
                "NU",
                "NZ",
                "OM",
                "PA",
                "PE",
                "PF",
                "PG",
                "PH",
                "PK",
                "PL",
                "PM",
                "PN",
                "PR",
                "PS",
                "PT",
                "PW",
                "PY",
                "QA",
                "RE",
                "RO",
                "RS",
                "RU",
                "RW",
                "SA",
                "SB",
                "SC",
                "SD",
                "SE",
                "SG",
                "SH",
                "SI",
                "SJ",
                "SK",
                "SL",
                "SM",
                "SN",
                "SO",
                "SR",
                "SS",
                "ST",
                "SV",
                "SX",
                "SY",
                "SZ",
                "TC",
                "TD",
                "TF",
                "TG",
                "TH",
                "TJ",
                "TK",
                "TL",
                "TM",
                "TN",
                "TO",
                "TR",
                "TT",
                "TV",
                "TW",
                "TZ",
                "UA",
                "UG",
                "UM",
                "US",
                "UY",
                "UZ",
                "VA",
                "VC",
                "VE",
                "VG",
                "VI",
                "VN",
                "VU",
                "WF",
                "WS",
                "YE",
                "YT",
                "ZA",
                "ZM",
                "ZW"
              ]
            }
          },
          {
            "name": "locality_key",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 2404
            }
          },
          {
            "name": "tag",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 1,
              "maxLength": 100
            }
          },
          {
            "name": "sort",
            "in": "query",
            "schema": {
              "type": "string",
              "enum": [
                "name",
                "-name",
                "updated_at",
                "-updated_at"
              ],
              "default": "name"
            }
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 2147483647,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "maximum": 100,
              "default": 25
            }
          }
        ],
        "responses": {
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "200": {
            "description": "Authorized result or minimal confirmed receipt after a committed write.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "additionalProperties": false,
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/CrmContactPersonListItem"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "additionalProperties": false,
                      "properties": {
                        "total": {
                          "type": "integer",
                          "minimum": 0
                        },
                        "current_page": {
                          "type": "integer",
                          "minimum": 1
                        },
                        "per_page": {
                          "type": "integer",
                          "minimum": 1,
                          "maximum": 100
                        },
                        "last_page": {
                          "type": "integer",
                          "minimum": 1
                        }
                      },
                      "required": [
                        "total",
                        "current_page",
                        "per_page",
                        "last_page"
                      ]
                    }
                  },
                  "required": [
                    "data",
                    "meta"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "examples": [
                    "2026-06-01"
                  ]
                }
              }
            }
          },
          "401": {
            "description": "Authentication is missing, invalid or expired.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "403": {
            "description": "Current scope, module capability, membership, record or field policy denies access (crm_access_denied or crm_context_revoked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "404": {
            "description": "resource_not_found: absent, foreign and invisible UUIDs are indistinguishable; no hidden alias or neighbor is disclosed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "409": {
            "description": "Record or authorization revision changed, preview is stale, or UUID/origin fingerprint conflicts (crm_version_conflict, crm_contact_person_plan_changed or resource_already_exists).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            }
          },
          "422": {
            "description": "Invalid closed input or current business/release restriction (business_rule_violation, crm_operation_unavailable or crm_sandbox_blocked).",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          },
          "500": {
            "description": "An unexpected infrastructure failure prevented completion.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Error"
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            }
          }
        },
        "x-required-scope": "crm_contact_people:read",
        "x-crm-operation": "crm_contact_people.index",
        "x-crm-requires-confirmation": false,
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
[...]
