{
  "openapi": "3.1.0",
  "info": {
    "title": "Factuarea Public API",
    "version": "1.0.0",
    "description": "Public REST API for invoicing in Spain — manage invoices, quotes, proformas, delivery notes, products, clients and webhooks.\n\n## Authentication\n\nThe API authenticates with a secret **API key**, sent on every request as:\n\n```\nAuthorization: Bearer fact_live_xxxxxxxxxxxxxxxxxxxxxxxx\n```\n\nor, alternatively, in the `X-API-Key` header. The key is issued from the Factuarea portal and must NEVER be exposed in public clients (browser, mobile apps).\n\n## Environments: `live` and `test`\n\nEach API key belongs to one of two environments, unambiguously identifiable by its **prefix**:\n\n| Prefix | Environment | Data it operates on | External effects |\n|---------|---------|---------------------------|------------------|\n| `fact_live_` | **live** (production) | Your real company | Real: legal fiscal numbering, VeriFactu→AEAT, emails to clients, outbound webhooks |\n| `fact_test_` | **test** (sandbox) | An isolated *sandbox* company | **Neutralized** (see below) |\n\nThe prefix is the **source of truth** for the environment: a `fact_test_` key always operates in test mode and a `fact_live_` key always in live. There is no request parameter that changes the environment — it is determined by the key.\n\n### Data isolation (sandbox)\n\n`fact_test_` keys operate on a dedicated **sandbox company** (a technical \"twin company\" of the account holder, automatically provisioned the first time test mode is used, which inherits the plan of your real company for faithful *feature-gating*). Thanks to per-company data isolation:\n\n- Resources created with a `fact_test_` key are **not visible** from a `fact_live_` key, and vice versa.\n- Test fiscal numbering uses the sandbox's own series and **never** consumes or alters the sequential numbering of your production series.\n\nThe functional surface is **identical** in both environments: the same endpoints and operations are available in test as in live.\n\n### External effects neutralized in test\n\nWhen you operate with a `fact_test_` key (sandbox environment), outbound effects are **disabled** so you can test your integration without real consequences:\n\n- **VeriFactu**: the Alta record is created locally, but **not transmitted to AEAT**.\n- **Email**: document emails are **not delivered** to real recipients.\n- **Webhooks**: events are **not delivered** to your external HTTP endpoints.\n\nIn `live`, all these effects fire normally.\n\n> **Recommendation**: always integrate and test first with a `fact_test_` key. Once your flow works, switch to the `fact_live_` prefix to operate in production."
  },
  "servers": [
    {
      "url": "https://api.factuarea.com/v1",
      "description": "Production"
    }
  ],
  "tags": [
    {
      "name": "Clients",
      "description": "Manage your customers."
    },
    {
      "name": "Suppliers",
      "description": "Manage your suppliers and vendors."
    },
    {
      "name": "Invoices",
      "description": "Create and manage sales invoices (compliant with Spanish AEAT VeriFactu)."
    },
    {
      "name": "Quotes",
      "description": "Create quotes and convert them to invoices."
    },
    {
      "name": "Proformas",
      "description": "Create proforma invoices and convert them to final invoices."
    },
    {
      "name": "Delivery Notes",
      "description": "Track goods delivered to customers; convert to invoice."
    },
    {
      "name": "Purchase Invoices",
      "description": "Record invoices received from suppliers."
    },
    {
      "name": "Recurring Invoices",
      "description": "Schedule invoices that auto-generate on a fixed cadence."
    },
    {
      "name": "Products",
      "description": "Manage your product catalog."
    },
    {
      "name": "Employees",
      "description": "Manage your workforce for the Control Horario (time tracking) module."
    },
    {
      "name": "Holidays",
      "description": "Read national, autonomic and custom local holidays for the Control Horario (time tracking) module."
    },
    {
      "name": "Work Schedules",
      "description": "Define weekly work schedules and assign them to employees for the Control Horario (time tracking) module."
    },
    {
      "name": "Absence Types",
      "description": "Configure the absence types your employees can request (holidays, sick leave, paid leave, …) for the Control Horario (time tracking) module."
    },
    {
      "name": "Absence Policies",
      "description": "Configure absence policies (yearly allowance and accrual) and assign them to employees for the Control Horario (time tracking) module."
    },
    {
      "name": "Absence Balances",
      "description": "Read employees’ accrued, carried-over, consumed and available absence days per type and year for the Control Horario (time tracking) module."
    },
    {
      "name": "Absence Requests",
      "description": "Submit absence requests and approve, reject or cancel them (the absence request workflow) for the Control Horario (time tracking) module."
    },
    {
      "name": "Absence Calendar",
      "description": "Read the computed monthly team absence calendar (who is off and when) for the Control Horario (time tracking) module."
    },
    {
      "name": "Time Entries",
      "description": "Clock employees in and out (clock-in, pause, resume, clock-out), record retroactive manual entries, read the workday state and validate the integrity of the immutable time record ledger (hash chain) for the Control Horario (time tracking) module."
    },
    {
      "name": "Time Corrections",
      "description": "Request corrections to time entries and approve or reject them (append-only, never mutating the original entry) for the Control Horario (time tracking) module."
    },
    {
      "name": "Time Balances",
      "description": "Read the live monthly time sheet, the team balance summary and an employee’s hours balance for an arbitrary period (expected vs worked, overtime), computed from the immutable ledger for the Control Horario (time tracking) module."
    },
    {
      "name": "Time Tracking Settings",
      "description": "Read and update the per-company time tracking configuration (overtime basis and thresholds, rounding tolerance and clock-in reminder) for the Control Horario (time tracking) module."
    },
    {
      "name": "Monthly Register Closes",
      "description": "Close the monthly time record register (an immutable balance snapshot that locks the period), reopen a close for an audited correction, read reports over closed periods and download the tamper-evident ITSS register (RD-ley 8/2019) for the Control Horario (time tracking) module."
    },
    {
      "name": "Payroll Exports",
      "description": "Download the monthly payroll incidents file of a closed period in the format of a Spanish payroll software (A3, Sage, NominaSOL) and list the supported formats, for the Control Horario (time tracking) module."
    },
    {
      "name": "Presence",
      "description": "Read who is working right now (live presence derived from the time record ledger, with late-arrival detection) and the office/remote presence declared per employee and day, for the Control Horario (time tracking) module."
    },
    {
      "name": "Webhooks",
      "description": "Subscribe to events via HTTPS callbacks with HMAC-signed payloads."
    },
    {
      "name": "Events",
      "description": "Read the event log for auditing and replay."
    },
    {
      "name": "Developers",
      "description": "Inspect the HTTP request log of your API key to debug your integration."
    },
    {
      "name": "Emails",
      "description": "Inspect the delivery status of the emails sent on your behalf (documents, reminders)."
    },
    {
      "name": "Integration Events",
      "description": "Inspect the events received from the payment gateways and bank feeds connected to your account, and replay one that failed to process."
    },
    {
      "name": "Series",
      "description": "Configure document numbering series (immutable by AEAT compliance)."
    },
    {
      "name": "Taxes",
      "description": "Manage configured tax rates (IVA, IGIC, IRPF) and calculate totals."
    },
    {
      "name": "VeriFactu",
      "description": "Inspect and manage Spanish AEAT VeriFactu submissions (Ley Antifraude 11/2021)."
    },
    {
      "name": "FacturaE",
      "description": "Generate FacturaE 3.2.x XML for B2G invoicing to Spanish public administration."
    },
    {
      "name": "Tax Reports",
      "description": "Generate Spanish tax reports (Modelo 303 IVA, Modelo 347 informativa)."
    },
    {
      "name": "Account",
      "description": "Introspect the authenticated company, plan, and API key."
    },
    {
      "name": "Companies",
      "description": "Manage your child companies (gestoría sub-accounts) and their scoped API keys."
    },
    {
      "name": "Stripe",
      "description": "Auto-invoicing, connected accounts, and payouts for Stripe Connect."
    }
  ],
  "security": [
    {
      "http": []
    },
    {
      "BearerAuth": []
    },
    {
      "ApiKeyAuth": []
    },
    {
      "OAuth2": []
    }
  ],
  "paths": {
    "/proformas/{proforma}/accept": {
      "post": {
        "operationId": "public-api.v1.proformas.accept",
        "description": "Mark a proforma as accepted by the client. Returns 422 if the proforma is in a status that cannot transition to `accepted`.",
        "summary": "Accept a proforma",
        "tags": [
          "Proformas"
        ],
        "parameters": [
          {
            "name": "proforma",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptProformaRequest"
              },
              "example": {
                "reason": "Cliente confirma pedido por telefono"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Proforma"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ConflictProforma"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityProforma"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "proformas",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "proformas:transition"
      }
    },
    "/quotes/{quote}/accept": {
      "post": {
        "operationId": "public-api.v1.quotes.accept",
        "description": "Mark a quote as accepted by the client. Sets `accepted_at` to the current timestamp.",
        "summary": "Accept a quote",
        "tags": [
          "Quotes"
        ],
        "parameters": [
          {
            "name": "quote",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AcceptQuoteRequest"
              },
              "example": {
                "accepted_on": "2026-06-01",
                "notes": "Aceptado por el cliente via telefono"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Quote"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ConflictQuote"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityQuote"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "quotes",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "quotes:transition"
      }
    },
    "/companies/activate": {
      "post": {
        "operationId": "public-api.v1.companies.activate_batch",
        "description": "Reactivate several deactivated (`inactive`) managed companies in one operation, charging the combined prorated seats in a single invoice. Pass `company_ids`. The gate is atomic: every company is validated (ownership and `inactive` status) before any charge, so if one is invalid the whole batch is rejected without charging or activating any.",
        "summary": "Activate several managed companies",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ActivateCompaniesBatchV1Request"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "companies",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "companies:write"
      }
    },
    "/verifactu/certificates/{certificate}/activate": {
      "post": {
        "operationId": "public-api.v1.verifactu.certificates.activate",
        "description": "Make a previously uploaded certificate the active one. Any other active certificate is deactivated atomically. Returns 404 if the certificate does not exist within your company.",
        "summary": "Activate a company certificate",
        "tags": [
          "VeriFactu"
        ],
        "parameters": [
          {
            "name": "certificate",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/CompanyCertificate"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "verifactu.certificates",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "verifactu:write"
      }
    },
    "/companies/{company}/activate": {
      "post": {
        "operationId": "public-api.v1.companies.activate",
        "description": "Reactivate a previously deactivated (`inactive`) managed company. Activation is gated by an atomic per-seat charge — in live mode the prorated seat is charged synchronously and the company only becomes `active` if the charge succeeds. No payment method on file returns 402, and a plan without the gestoría module returns 403. Trial, enterprise and test keys skip the charge.",
        "summary": "Activate a managed company",
        "tags": [
          "Companies"
        ],
        "parameters": [
          {
            "name": "company",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Company"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "402": {
            "$ref": "#/components/responses/PaymentRequired"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "companies",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "companies:write"
      }
    },
    "/recurring_invoices/{recurring_invoice}/activate": {
      "post": {
        "operationId": "public-api.v1.recurring_invoices.activate",
        "description": "Activate a paused recurring invoice. The next invoice will be generated according to the schedule. This is a semantic alias of `POST /recurring_invoices/{recurring_invoice}/resume` — both map to the same handler and behave identically; neither is deprecated.",
        "summary": "Activate recurring invoice",
        "tags": [
          "Recurring Invoices"
        ],
        "parameters": [
          {
            "name": "recurring_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/RecurringInvoice"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "recurringInvoices",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "recurring_invoices:transition"
      }
    },
    "/invoices/{invoice}/annul": {
      "post": {
        "operationId": "public-api.v1.invoices.annul",
        "description": "Withdraw an issued invoice **with a documented reason**. `reason` is required here (3–500 characters); that is the only difference from `POST /v1/invoices/{id}/void`, which performs exactly the same operation and persists a placeholder when you omit it. Prefer this endpoint whenever the reason has to be traceable — the text you send is kept in the invoice audit trail and, when the company is enrolled in VeriFactu, becomes the `motivo` of the AEAT cancellation record.\n\nThe invoice moves to `annulled` and `voided_at` starts reporting when that happened. The status is terminal and the operation is **irreversible**: there is no transition back to `sent` or `draft`, and the correlative number of the series is neither released nor reused.\n\n**Effect on AEAT.** With VeriFactu enabled, annulling queues an *anulación* record to AEAT **asynchronously**: a `200` means the invoice is annulled in Factuarea, not that AEAT has already processed it — poll the invoice for its VeriFactu status. The original *alta* record is not deleted or rewritten; AEAT keeps both entries, the issuance and its cancellation. With VeriFactu inactive the annulment is purely internal and nothing is transmitted.\n\n**Annul or correct?** Annulment withdraws the whole document and only works before payment; it produces no amending document, so it never restates an amount. A corrective (`POST /v1/invoices/{id}/corrective`) creates a **new** invoice that amends the original and is the only path for an invoice that is already `paid` or that is only partly wrong.\n\nLimits: only `sent` or `overdue` can be annulled. A `draft` is not annulled but deleted; `paid`, `cancelled` and `annulled` return 422. An invoice that **is** a corrective can never be annulled — issue a new corrective of the original instead. Use `GET /v1/invoices/{id}/can-annul` to check eligibility, and whether a VeriFactu cancellation record will be created, before posting here.",
        "summary": "Annul an invoice",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AnnulInvoiceV1Request"
              },
              "example": {
                "reason": "Anulación solicitada por el cliente: pedido cancelado antes de la entrega."
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                    "object": "invoice",
                    "number": "FAC-2026-00042",
                    "is_number_assigned": true,
                    "type": "F1",
                    "series": {
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b02",
                      "code": "FAC-2026"
                    },
                    "client": {
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a01",
                      "name": "Acme Soluciones SL"
                    },
                    "status": "paid",
                    "issued_on": "2026-03-15",
                    "due_on": "2026-04-14",
                    "subtotal": 1000,
                    "taxes_total": 210,
                    "total": 1210,
                    "total_disbursements": 0,
                    "total_to_pay": 1210,
                    "currency": "EUR",
                    "notes": "Servicios profesionales marzo 2026.",
                    "external_id": "ERP-2026-0042",
                    "lines": [
                      {
                        "object": "invoice_line",
                        "description": "Consultoría técnica (10 h)",
                        "product": {
                          "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b03",
                          "name": "Consultoría técnica (hora)"
                        },
                        "quantity": 10,
                        "unit_price": 100,
                        "tax_rate": 21,
                        "retention_rate": 0,
                        "surcharge_rate": 0,
                        "discount_percent": 0,
                        "subtotal": 1000,
                        "taxes": 210,
                        "total": 1210,
                        "indirect_tax_regime": "iva",
                        "aeat_tax_code": "S1",
                        "line_type": "NORMAL"
                      }
                    ],
                    "metadata": {
                      "order_id": "PO-2026-0042"
                    },
                    "tags": [
                      "consultoria",
                      "cliente-vip"
                    ],
                    "custom_fields": [
                      {
                        "field": "centro_coste",
                        "value": "CC-2026-001"
                      },
                      {
                        "field": "numero_pedido",
                        "value": "PO-2026-0042"
                      }
                    ],
                    "operation_regime": "general",
                    "exemption_reason": null,
                    "legal_mentions": [],
                    "exclude_347": false,
                    "verifactu_status": "accepted",
                    "paid_amount": 1210,
                    "pending_amount": 0,
                    "payments": {
                      "detail": [
                        {
                          "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a90",
                          "object": "payment",
                          "invoice_id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                          "amount": 1210,
                          "payment_date": "2026-03-20",
                          "payment_method": "bank_transfer",
                          "payment_method_text": "Transferencia bancaria",
                          "reference": "TRF-2026-0042",
                          "notes": null,
                          "created_at": "2026-03-20T10:30:00Z",
                          "updated_at": "2026-03-20T10:30:00Z"
                        }
                      ],
                      "total": 1210,
                      "pending": 0
                    },
                    "is_corrective": false,
                    "corrective": null,
                    "payment": {
                      "method": "bank_transfer",
                      "reference": "TRF-2026-0042",
                      "date": "2026-03-20"
                    },
                    "public_link": {
                      "object": "public_link",
                      "url": "https://app.factuarea.com/d/01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                      "enabled": true,
                      "expires_at": "2026-09-15T23:59:59Z",
                      "max_days": 120
                    },
                    "substituted_by": null,
                    "recurring": null,
                    "paid_at": "2026-03-20T10:30:00Z",
                    "paid_on": "2026-03-20",
                    "sent_at": "2026-03-15T11:45:00Z",
                    "voided_at": null,
                    "void_reason": null,
                    "scheduled_for": null,
                    "scheduled_action": null,
                    "created_at": "2026-03-15T11:30:00Z",
                    "updated_at": "2026-03-20T10:30:00Z"
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ConflictInvoice"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntityInvoice"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "invoices",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "invoices:void",
        "x-irreversible": true
      }
    },
    "/absence-requests/{absence_request}/approve": {
      "post": {
        "operationId": "public-api.v1.absence-requests.approve",
        "description": "Approve a pending absence request (transition `pending` → `approved`), consuming the employee’s balance. No request body (an optional `note` is accepted). A reviewer cannot approve the request they themselves created (422). Returns the updated request.",
        "summary": "Approve an absence request",
        "tags": [
          "Absence Requests"
        ],
        "parameters": [
          {
            "name": "absence_request",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveAbsenceRequestRequest"
              },
              "examples": {
                "approve": {
                  "$ref": "#/components/examples/absence_request_approve"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsenceRequest"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "absenceRequests",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "absences:transition"
      }
    },
    "/time-corrections/{time_correction}/approve": {
      "post": {
        "operationId": "public-api.v1.time_corrections.approve",
        "description": "Approve a pending correction request by its `id` (UUID v7), appending the resolving `correction_entry` linked to the original time entry. An optional `note` from the approver may be supplied. A request that is not pending returns 422 (already resolved), and approving your own request returns 422 (self-approval is forbidden). Returns 200 with the resolved correction.",
        "summary": "Approve a time entry correction",
        "tags": [
          "Time Corrections"
        ],
        "parameters": [
          {
            "name": "time_correction",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ApproveTimeCorrectionRequest"
              },
              "examples": {
                "approve": {
                  "$ref": "#/components/examples/time_correction_approve"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/TimeCorrection"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "timeCorrections",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "time_entries:write"
      }
    },
    "/absence-policies/{absence_policy}/archive": {
      "post": {
        "operationId": "public-api.v1.absence-policies.archive",
        "description": "Archive an absence policy (transition `active` → `archived`), retiring it from use while preserving it. No request body. Returns 422 if it is already archived. Reversible via unarchive.",
        "summary": "Archive an absence policy",
        "tags": [
          "Absence Policies"
        ],
        "parameters": [
          {
            "name": "absence_policy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsencePolicy"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "absencePolicies",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "absences:write"
      }
    },
    "/absence-types/{absence_type}/archive": {
      "post": {
        "operationId": "public-api.v1.absence-types.archive",
        "description": "Archive an absence type (transition `active` → `archived`), retiring it from use while preserving it. No request body. Returns 422 if it is already archived. Reversible via unarchive.",
        "summary": "Archive an absence type",
        "tags": [
          "Absence Types"
        ],
        "parameters": [
          {
            "name": "absence_type",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsenceType"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "absenceTypes",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "absences:write"
      }
    },
    "/series/{series}/archive": {
      "post": {
        "operationId": "public-api.v1.series.archive",
        "description": "Archive a series so it stops appearing as available for new documents. Fails with 409 if the series is the default and the only active series of its type. Returns 204 on success.",
        "summary": "Archive a series",
        "tags": [
          "Series"
        ],
        "parameters": [
          {
            "name": "series",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "204": {
            "description": "No content",
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "series",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "series:write"
      }
    },
    "/work-schedules/{schedule}/archive": {
      "post": {
        "operationId": "public-api.v1.work_schedules.archive",
        "description": "Archive a work schedule (transition `active` → `archived`), retiring it from use while preserving it. No request body. Returns 422 if it is already archived. Reversible via unarchive.",
        "summary": "Archive a work schedule",
        "tags": [
          "Work Schedules"
        ],
        "parameters": [
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/WeeklySchedule"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "workSchedules",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "work_schedules:write"
      }
    },
    "/absence-policies/{absence_policy}/assign": {
      "post": {
        "operationId": "public-api.v1.absence-policies.assign",
        "description": "Assign the absence policy to one or more employees. `employee_ids` (a non-empty list of UUID v7, each belonging to your company) is required; an unknown employee returns 422. Returns the policy with its updated assigned-employee count.",
        "summary": "Assign a policy to employees",
        "tags": [
          "Absence Policies"
        ],
        "parameters": [
          {
            "name": "absence_policy",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignAbsencePolicyRequest"
              },
              "examples": {
                "assign": {
                  "$ref": "#/components/examples/absence_policy_assign"
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/AbsencePolicy"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "absencePolicies",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "absences:write"
      }
    },
    "/invoices/{invoice}/assign-real-number": {
      "post": {
        "operationId": "public-api.v1.invoices.assign_real_number",
        "description": "Promotes a draft to a definitive invoice by assigning its real series number. In VeriFactu-enabled companies the same happens automatically on send.",
        "summary": "Assign a real invoice number",
        "tags": [
          "Invoices"
        ],
        "parameters": [
          {
            "name": "invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/Invoice"
                    }
                  },
                  "required": [
                    "data"
                  ]
                },
                "example": {
                  "data": {
                    "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                    "object": "invoice",
                    "number": "FAC-2026-00042",
                    "is_number_assigned": true,
                    "type": "F1",
                    "series": {
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b02",
                      "code": "FAC-2026"
                    },
                    "client": {
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a01",
                      "name": "Acme Soluciones SL"
                    },
                    "status": "paid",
                    "issued_on": "2026-03-15",
                    "due_on": "2026-04-14",
                    "subtotal": 1000,
                    "taxes_total": 210,
                    "total": 1210,
                    "total_disbursements": 0,
                    "total_to_pay": 1210,
                    "currency": "EUR",
                    "notes": "Servicios profesionales marzo 2026.",
                    "external_id": "ERP-2026-0042",
                    "lines": [
                      {
                        "object": "invoice_line",
                        "description": "Consultoría técnica (10 h)",
                        "product": {
                          "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b03",
                          "name": "Consultoría técnica (hora)"
                        },
                        "quantity": 10,
                        "unit_price": 100,
                        "tax_rate": 21,
                        "retention_rate": 0,
                        "surcharge_rate": 0,
                        "discount_percent": 0,
                        "subtotal": 1000,
                        "taxes": 210,
                        "total": 1210,
                        "indirect_tax_regime": "iva",
                        "aeat_tax_code": "S1",
                        "line_type": "NORMAL"
                      }
                    ],
                    "metadata": {
                      "order_id": "PO-2026-0042"
                    },
                    "tags": [
                      "consultoria",
                      "cliente-vip"
                    ],
                    "custom_fields": [
                      {
                        "field": "centro_coste",
                        "value": "CC-2026-001"
                      },
                      {
                        "field": "numero_pedido",
                        "value": "PO-2026-0042"
                      }
                    ],
                    "operation_regime": "general",
                    "exemption_reason": null,
                    "legal_mentions": [],
                    "exclude_347": false,
                    "verifactu_status": "accepted",
                    "paid_amount": 1210,
                    "pending_amount": 0,
                    "payments": {
                      "detail": [
                        {
                          "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a90",
                          "object": "payment",
                          "invoice_id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                          "amount": 1210,
                          "payment_date": "2026-03-20",
                          "payment_method": "bank_transfer",
                          "payment_method_text": "Transferencia bancaria",
                          "reference": "TRF-2026-0042",
                          "notes": null,
                          "created_at": "2026-03-20T10:30:00Z",
                          "updated_at": "2026-03-20T10:30:00Z"
                        }
                      ],
                      "total": 1210,
                      "pending": 0
                    },
                    "is_corrective": false,
                    "corrective": null,
                    "payment": {
                      "method": "bank_transfer",
                      "reference": "TRF-2026-0042",
                      "date": "2026-03-20"
                    },
                    "public_link": {
                      "object": "public_link",
                      "url": "https://app.factuarea.com/d/01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                      "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                      "enabled": true,
                      "expires_at": "2026-09-15T23:59:59Z",
                      "max_days": 120
                    },
                    "substituted_by": null,
                    "recurring": null,
                    "paid_at": "2026-03-20T10:30:00Z",
                    "paid_on": "2026-03-20",
                    "sent_at": "2026-03-15T11:45:00Z",
                    "voided_at": null,
                    "void_reason": null,
                    "scheduled_for": null,
                    "scheduled_action": null,
                    "created_at": "2026-03-15T11:30:00Z",
                    "updated_at": "2026-03-20T10:30:00Z"
                  }
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/ConflictInvoice"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "invoices",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "invoices:write",
        "x-irreversible": true
      }
    },
    "/work-schedules/{schedule}/assign": {
      "post": {
        "operationId": "public-api.v1.work_schedules.assign",
        "description": "Assign the work schedule to an employee with an effective start date. `employee_id` (UUID v7, must belong to your company) and `effective_from` (`Y-m-d`) are required. Assigning closes the employee’s previously open assignment and opens the new one (an employee has at most one open assignment; history is preserved). An unknown employee returns 422 `assigned_employee_not_found`; an unknown schedule returns 404. Returns the created assignment.",
        "summary": "Assign a schedule to an employee",
        "tags": [
          "Work Schedules"
        ],
        "parameters": [
          {
            "name": "schedule",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssignScheduleRequest"
              },
              "examples": {
                "assign": {
                  "$ref": "#/components/examples/work_schedule_assign"
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/ScheduleAssignment"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Reset": {
                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                "schema": {
                  "type": "integer"
                }
              },
              "Factuarea-Version": {
                "description": "Effective API version (`YYYY-MM-DD`, Stripe-style date versioning) resolved for this request: the `Factuarea-Version` request header if sent, otherwise the version pinned on the API key, otherwise the latest version. Present on every response.",
                "schema": {
                  "type": "string",
                  "format": "date",
                  "example": "2026-06-01"
                }
              },
              "Idempotent-Replayed": {
                "description": "Present with value `\"true\"` only when this response was replayed from the idempotency cache for a repeated `Idempotency-Key` (same key, same request fingerprint). Absent on the first, freshly executed request.",
                "schema": {
                  "type": "string",
                  "example": "true"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "422": {
            "$ref": "#/components/responses/UnprocessableEntity"
          },
          "429": {
            "$ref": "#/components/responses/TooManyRequests"
          },
          "500": {
            "$ref": "#/components/responses/InternalServerError"
          }
        },
        "x-speakeasy-group": "workSchedules",
        "x-speakeasy-retries": {
          "strategy": "backoff",
          "backoff": {
            "initialInterval": 500,
            "maxInterval": 60000,
            "maxElapsedTime": 3600000,
            "exponent": 1.5
          },
          "statusCodes": [
            "429",
            "5XX"
          ],
          "retryConnectionErrors": true
        },
        "x-required-scope": "work_schedules:write"
      }
    },
    "/purchase_invoices/{purchase_invoice}/attach-file": {
      "post": {
        "operationId": "public-api.v1.purchase_invoices.attach_file",
        "description": "Upload the original PDF document for a purchase invoice as `multipart/form-data`. Replaces any previously attached file. Returns the updated purchase invoice.",
        "summary": "Attach a file to a purchase invoice",
        "tags": [
          "Purchase Invoices"
        ],
        "parameters": [
          {
            "name": "purchase_invoice",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/IdempotencyKey"
          },
          {
            "$ref": "#/components/parameters/FactuareaVersion"
          },
          {
            "$ref": "#/components/parameters/XActiveProfile"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "$ref": "#/components/schemas/AttachPurchaseInvoiceFileRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "$ref": "#/components/schemas/PurchaseInvoice"
                    }
                  },
                  "required": [
                    "data"
                  ]
                }
              }
            },
            "headers": {
              "X-Request-Id": {
                "description": "Unique request identifier, propagated for log correlation and support.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              },
              "X-RateLimit-Limit": {
                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                "schema": {
                  "type": "integer"
                }
              },
              "X-RateLimit-Remaining": {
[...]
