{
    "openapi": "3.1.0",
    "info": {
        "title": "Factuarea Public API",
        "version": "1.0.0",
        "description": "Public REST API for invoicing in Spain \u2014 manage invoices, quotes, proformas, delivery notes, products, clients and webhooks.\n\n## Authentication\n\nThe API authenticates with a secret **API key**, sent on every request as:\n\n```\nAuthorization: Bearer fact_live_xxxxxxxxxxxxxxxxxxxxxxxx\n```\n\nor, alternatively, in the `X-API-Key` header. The key is issued from the Factuarea portal and must NEVER be exposed in public clients (browser, mobile apps).\n\n## Environments: `live` and `test`\n\nEach API key belongs to one of two environments, unambiguously identifiable by its **prefix**:\n\n| Prefix | Environment | Data it operates on | External effects |\n|---------|---------|---------------------------|------------------|\n| `fact_live_` | **live** (production) | Your real company | Real: legal fiscal numbering, VeriFactu\u2192AEAT, emails to clients, outbound webhooks |\n| `fact_test_` | **test** (sandbox) | An isolated *sandbox* company | **Neutralized** (see below) |\n\nThe prefix is the **source of truth** for the environment: a `fact_test_` key always operates in test mode and a `fact_live_` key always in live. There is no request parameter that changes the environment \u2014 it is determined by the key.\n\n### Data isolation (sandbox)\n\n`fact_test_` keys operate on a dedicated **sandbox company** (a technical \"twin company\" of the account holder, automatically provisioned the first time test mode is used, which inherits the plan of your real company for faithful *feature-gating*). Thanks to per-company data isolation:\n\n- Resources created with a `fact_test_` key are **not visible** from a `fact_live_` key, and vice versa.\n- Test fiscal numbering uses the sandbox's own series and **never** consumes or alters the sequential numbering of your production series.\n\nThe functional surface is **identical** in both environments: the same endpoints and operations are available in test as in live.\n\n### External effects neutralized in test\n\nWhen you operate with a `fact_test_` key (sandbox environment), outbound effects are **disabled** so you can test your integration without real consequences:\n\n- **VeriFactu**: the Alta record is created locally, but **not transmitted to AEAT**.\n- **Email**: document emails are **not delivered** to real recipients.\n- **Webhooks**: events are **not delivered** to your external HTTP endpoints.\n\nIn `live`, all these effects fire normally.\n\n> **Recommendation**: always integrate and test first with a `fact_test_` key. Once your flow works, switch to the `fact_live_` prefix to operate in production."
    },
    "servers": [
        {
            "url": "https://api.factuarea.com/v1",
            "description": "Production"
        }
    ],
    "tags": [
        {
            "name": "Clients",
            "description": "Manage your customers."
        },
        {
            "name": "Suppliers",
            "description": "Manage your suppliers and vendors."
        },
        {
            "name": "Invoices",
            "description": "Create and manage sales invoices (compliant with Spanish AEAT VeriFactu)."
        },
        {
            "name": "Quotes",
            "description": "Create quotes and convert them to invoices."
        },
        {
            "name": "Proformas",
            "description": "Create proforma invoices and convert them to final invoices."
        },
        {
            "name": "Delivery Notes",
            "description": "Track goods delivered to customers; convert to invoice."
        },
        {
            "name": "Purchase Invoices",
            "description": "Record invoices received from suppliers."
        },
        {
            "name": "Recurring Invoices",
            "description": "Schedule invoices that auto-generate on a fixed cadence."
        },
        {
            "name": "Products",
            "description": "Manage your product catalog."
        },
        {
            "name": "Webhooks",
            "description": "Subscribe to events via HTTPS callbacks with HMAC-signed payloads."
        },
        {
            "name": "Events",
            "description": "Read the event log for auditing and replay."
        },
        {
            "name": "Series",
            "description": "Configure document numbering series (immutable by AEAT compliance)."
        },
        {
            "name": "Taxes",
            "description": "Manage configured tax rates (IVA, IGIC, IRPF) and calculate totals."
        },
        {
            "name": "VeriFactu",
            "description": "Inspect and manage Spanish AEAT VeriFactu submissions (Ley Antifraude 11/2021)."
        },
        {
            "name": "FacturaE",
            "description": "Generate FacturaE 3.2.x XML for B2G invoicing to Spanish public administration."
        },
        {
            "name": "Tax Reports",
            "description": "Generate Spanish tax reports (Modelo 303 IVA, Modelo 347 informativa)."
        },
        {
            "name": "Account",
            "description": "Introspect the authenticated company, plan, and API key."
        }
    ],
    "security": [
        {
            "http": []
        },
        {
            "BearerAuth": []
        },
        {
            "ApiKeyAuth": []
        }
    ],
    "paths": {
        "/proformas/{proforma}/accept": {
            "post": {
                "operationId": "public-api.v1.proformas.accept",
                "description": "Mark a proforma as accepted by the client. Returns 422 if the proforma is in a status that cannot transition to `accepted`.",
                "summary": "Accept a proforma",
                "tags": [
                    "Proformas"
                ],
                "parameters": [
                    {
                        "name": "proforma",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AcceptProformaRequest"
                            },
                            "example": {
                                "reason": "Cliente confirma pedido por telefono"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Proforma"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictProforma"
                    }
                },
                "x-speakeasy-group": "proformas",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/quotes/{quote}/accept": {
            "post": {
                "operationId": "public-api.v1.quotes.accept",
                "description": "Mark a quote as accepted by the client. Sets `accepted_at` to the current timestamp.",
                "summary": "Accept a quote",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "name": "quote",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AcceptQuoteRequest"
                            },
                            "example": {
                                "accepted_on": "2026-06-01",
                                "notes": "Aceptado por el cliente via telefono"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Quote"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictQuote"
                    }
                },
                "x-speakeasy-group": "quotes",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/verifactu/certificates/{certificate}/activate": {
            "post": {
                "operationId": "public-api.v1.verifactu.certificates.activate",
                "description": "Activate Company Certificate V1.",
                "summary": "Activate a company certificate",
                "tags": [
                    "VeriFactu"
                ],
                "parameters": [
                    {
                        "name": "certificate",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/CompanyCertificate"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-speakeasy-group": "verifactu.certificates",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/recurring_invoices/{recurring_invoice}/activate": {
            "post": {
                "operationId": "public-api.v1.recurring_invoices.activate",
                "description": "Activate a paused recurring invoice. The next invoice will be generated according to the schedule. This is a semantic alias of `POST /recurring_invoices/{recurring_invoice}/resume` \u2014 both map to the same handler and behave identically; neither is deprecated.",
                "summary": "Activate recurring invoice",
                "tags": [
                    "Recurring Invoices"
                ],
                "parameters": [
                    {
                        "name": "recurring_invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/RecurringInvoice"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    }
                },
                "x-speakeasy-group": "recurringInvoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/invoices/{invoice}/annul": {
            "post": {
                "operationId": "public-api.v1.invoices.annul",
                "description": "Annuls an invoice with a documented reason. When VeriFactu is enabled the handler automatically creates the AEAT anulacion record.",
                "summary": "Annul an invoice",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/AnnulInvoiceV1Request"
                            },
                            "example": {
                                "reason": "Anulaci\u00f3n solicitada por el cliente: pedido cancelado antes de la entrega."
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Invoice"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                },
                                "example": {
                                    "data": {
                                        "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                        "object": "invoice",
                                        "number": "FAC-2026-00042",
                                        "is_number_assigned": true,
                                        "type": "F1",
                                        "series": {
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b02",
                                            "code": "FAC-2026"
                                        },
                                        "client": {
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a01",
                                            "name": "Acme Soluciones SL"
                                        },
                                        "status": "paid",
                                        "issued_on": "2026-03-15",
                                        "due_on": "2026-04-14",
                                        "subtotal": 1000,
                                        "taxes_total": 210,
                                        "total": 1210,
                                        "currency": "EUR",
                                        "notes": "Servicios profesionales marzo 2026.",
                                        "lines": [
                                            {
                                                "object": "invoice_line",
                                                "description": "Consultor\u00eda t\u00e9cnica (10 h)",
                                                "product": {
                                                    "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b03",
                                                    "name": "Consultor\u00eda t\u00e9cnica (hora)"
                                                },
                                                "quantity": 10,
                                                "unit_price": 100,
                                                "tax_rate": 21,
                                                "discount_percent": 0,
                                                "subtotal": 1000,
                                                "taxes": 210,
                                                "total": 1210
                                            }
                                        ],
                                        "metadata": {
                                            "order_id": "PO-2026-0042"
                                        },
                                        "operation_regime": "general",
                                        "verifactu_status": "accepted",
                                        "is_corrective": false,
                                        "corrective": null,
                                        "payment": {
                                            "method": "bank_transfer",
                                            "reference": "TRF-2026-0042",
                                            "date": "2026-03-20"
                                        },
                                        "public_link": {
                                            "object": "public_link",
                                            "url": "https://app.factuarea.com/d/01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                            "enabled": true,
                                            "expires_at": "2026-09-15T23:59:59Z",
                                            "max_days": 120
                                        },
                                        "substituted_by": null,
                                        "recurring": null,
                                        "paid_at": "2026-03-20T10:30:00Z",
                                        "paid_on": "2026-03-20",
                                        "sent_at": "2026-03-15T11:45:00Z",
                                        "voided_at": null,
                                        "void_reason": null,
                                        "created_at": "2026-03-15T11:30:00Z",
                                        "updated_at": "2026-03-20T10:30:00Z"
                                    }
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictInvoice"
                    }
                },
                "x-speakeasy-group": "invoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/series/{series}/archive": {
            "post": {
                "operationId": "public-api.v1.series.archive",
                "description": "Archive a series so it stops appearing as available for new documents. Fails with 409 if the series is the default and the only active series of its type. Returns 204 on success.",
                "summary": "Archive a series",
                "tags": [
                    "Series"
                ],
                "parameters": [
                    {
                        "name": "series",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "204": {
                        "description": "No content",
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-speakeasy-group": "series",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/invoices/{invoice}/assign-real-number": {
            "post": {
                "operationId": "public-api.v1.invoices.assign_real_number",
                "description": "Promotes a draft to a definitive invoice by assigning its real series number. In VeriFactu-enabled companies the same happens automatically on send.",
                "summary": "Assign a real invoice number",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "name": "invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/Invoice"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                },
                                "example": {
                                    "data": {
                                        "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                        "object": "invoice",
                                        "number": "FAC-2026-00042",
                                        "is_number_assigned": true,
                                        "type": "F1",
                                        "series": {
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b02",
                                            "code": "FAC-2026"
                                        },
                                        "client": {
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a01",
                                            "name": "Acme Soluciones SL"
                                        },
                                        "status": "paid",
                                        "issued_on": "2026-03-15",
                                        "due_on": "2026-04-14",
                                        "subtotal": 1000,
                                        "taxes_total": 210,
                                        "total": 1210,
                                        "currency": "EUR",
                                        "notes": "Servicios profesionales marzo 2026.",
                                        "lines": [
                                            {
                                                "object": "invoice_line",
                                                "description": "Consultor\u00eda t\u00e9cnica (10 h)",
                                                "product": {
                                                    "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8b03",
                                                    "name": "Consultor\u00eda t\u00e9cnica (hora)"
                                                },
                                                "quantity": 10,
                                                "unit_price": 100,
                                                "tax_rate": 21,
                                                "discount_percent": 0,
                                                "subtotal": 1000,
                                                "taxes": 210,
                                                "total": 1210
                                            }
                                        ],
                                        "metadata": {
                                            "order_id": "PO-2026-0042"
                                        },
                                        "operation_regime": "general",
                                        "verifactu_status": "accepted",
                                        "is_corrective": false,
                                        "corrective": null,
                                        "payment": {
                                            "method": "bank_transfer",
                                            "reference": "TRF-2026-0042",
                                            "date": "2026-03-20"
                                        },
                                        "public_link": {
                                            "object": "public_link",
                                            "url": "https://app.factuarea.com/d/01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                            "id": "01931b3e-7c4a-7f2e-9a8b-3c5d6e7f8a42",
                                            "enabled": true,
                                            "expires_at": "2026-09-15T23:59:59Z",
                                            "max_days": 120
                                        },
                                        "substituted_by": null,
                                        "recurring": null,
                                        "paid_at": "2026-03-20T10:30:00Z",
                                        "paid_on": "2026-03-20",
                                        "sent_at": "2026-03-15T11:45:00Z",
                                        "voided_at": null,
                                        "void_reason": null,
                                        "created_at": "2026-03-15T11:30:00Z",
                                        "updated_at": "2026-03-20T10:30:00Z"
                                    }
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "404": {
                        "$ref": "#/components/responses/NotFound"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictInvoice"
                    }
                },
                "x-speakeasy-group": "invoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/purchase_invoices/{purchase_invoice}/attach-file": {
            "post": {
                "operationId": "public-api.v1.purchase_invoices.attach_file",
                "description": "Upload the original PDF document for a purchase invoice as `multipart/form-data`. Replaces any previously attached file. Returns the updated purchase invoice.",
                "summary": "Attach a file to a purchase invoice",
                "tags": [
                    "Purchase Invoices"
                ],
                "parameters": [
                    {
                        "name": "purchase_invoice",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "multipart/form-data": {
                            "schema": {
                                "$ref": "#/components/schemas/AttachPurchaseInvoiceFileRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/PurchaseInvoice"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictPurchaseInvoice"
                    }
                },
                "x-speakeasy-group": "purchaseInvoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/clients/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.clients.bulk_delete",
                "description": "Delete up to 200 clients in one request. Returns the deletion count and the list of UUIDs that could not be removed (clients with associated documents are reported in failed).",
                "summary": "Delete multiple clients in bulk",
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteClientsRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-speakeasy-group": "clients",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/clients/bulk": {
            "delete": {
                "operationId": "public-api.v1.clients.bulk_delete_legacy",
                "description": "**Deprecated.** Use `POST /v1/clients/bulk-delete` instead. Sunset: 2026-12-04.\n\nDeprecated alias of `POST /v1/clients/bulk-delete`. Use the canonical POST endpoint; this `DELETE /v1/clients/bulk` route emits `Deprecation` and `Sunset` headers and will be removed after the sunset date. Same request/response shape as the canonical operation.",
                "summary": "Delete multiple clients in bulk (deprecated alias)",
                "deprecated": true,
                "tags": [
                    "Clients"
                ],
                "parameters": [
                    {
                        "name": "ids[]",
                        "in": "query",
                        "required": true,
                        "schema": {
                            "type": "array",
                            "format": "uuid",
                            "items": {
                                "type": "string",
                                "format": "uuid"
                            }
                        }
                    },
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-sunset-date": "2026-12-04",
                "x-speakeasy-group": "clients",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/delivery_notes/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.delivery_notes.bulk_delete",
                "description": "Delete several delivery notes in a single request. The body takes an `ids` array of `uuid`s. Returns a `bulk_delete_result` with the count of deleted notes and a `failed` list (`id` + Spanish `reason`) for those that could not be deleted (e.g. signed or invoiced). Supports `Idempotency-Key` for safe retries.",
                "summary": "Bulk delete delivery notes",
                "tags": [
                    "Delivery Notes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteDeliveryNotesRequest"
                            },
                            "example": {
                                "ids": [
                                    "019e822d-1ffb-7179-8a4d-8872118a5627"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictDeliveryNote"
                    }
                },
                "x-speakeasy-group": "deliveryNotes",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/invoices/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.invoices.bulk_delete",
                "description": "Deletes up to 100 invoices in one call. Returns counts of deleted and failed entries with the reason for each failure.",
                "summary": "Bulk delete invoices",
                "tags": [
                    "Invoices"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteInvoicesV1Request"
                            },
                            "example": {
                                "ids": [
                                    "dd6b82a6-3bb6-4b54-b06e-4515c0ec7260",
                                    "c08e0274-d2f3-4337-85c7-a1f918ee8f8c"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictInvoice"
                    }
                },
                "x-speakeasy-group": "invoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/products/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.products.bulk_delete",
                "description": "Delete up to 200 products in one request. Products included in packs are reported in skipped instead of failing. Decrements the plan usage counter accordingly.",
                "summary": "Delete multiple products in bulk",
                "tags": [
                    "Products"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteProductsRequest"
                            },
                            "example": {
                                "ids": [
                                    "019e5584-7c1b-7260-bc52-34613ad04c09",
                                    "019e5584-7c1c-71b6-b825-01f5443bae47"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-speakeasy-group": "products",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/proformas/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.proformas.bulk_delete",
                "description": "Deletes up to 100 proformas in one call. Returns counts of deleted and failed entries with the reason for each failure.",
                "summary": "Bulk delete proformas",
                "tags": [
                    "Proformas"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteProformasV1Request"
                            },
                            "example": {
                                "ids": [
                                    "019e822d-33c9-736d-9cc2-c271735ebcf0"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictProforma"
                    }
                },
                "x-speakeasy-group": "proformas",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/purchase_invoices/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.purchase_invoices.bulk_delete",
                "description": "Delete up to 100 purchase invoices by UUID in a single request.",
                "summary": "Bulk delete purchase invoices",
                "tags": [
                    "Purchase Invoices"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeletePurchaseInvoicesRequest"
                            },
                            "example": {
                                "ids": [
                                    "019e822c-f683-7277-a6ee-c4a8d42088c0"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictPurchaseInvoice"
                    }
                },
                "x-speakeasy-group": "purchaseInvoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/quotes/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.quotes.bulk_delete",
                "description": "Deletes up to 100 quotes in one call. Returns counts of deleted and failed entries with the reason for each failure.",
                "summary": "Bulk delete quotes",
                "tags": [
                    "Quotes"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteQuotesV1Request"
                            },
                            "example": {
                                "ids": [
                                    "019e822d-e304-72b7-a2af-4c95eb872c95",
                                    "019e822d-e3aa-72e1-bc45-16feaffccf06"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/ConflictQuote"
                    }
                },
                "x-speakeasy-group": "quotes",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/recurring_invoices/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.recurring_invoices.bulk-delete",
                "description": "Delete multiple recurring invoices in a single request (POST with a body of `ids`). Returns the count of deleted resources and a list of failures with their reason. Recurring invoices that already generated invoices cannot be deleted.",
                "summary": "Bulk delete recurring invoices",
                "tags": [
                    "Recurring Invoices"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteRecurringInvoicesRequest"
                            },
                            "example": {
                                "ids": [
                                    "019e7f80-1a2b-7c3d-8e4f-5a6b7c8d9e0f",
                                    "019e7f80-2b3c-7d4e-9f5a-6b7c8d9e0f1a"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
                                "description": "Maximum number of requests allowed in the current rate limit window (60 seconds). Omitted when the API key has no cap (unlimited tier).",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Remaining": {
                                "description": "Number of requests remaining in the current rate limit window before receiving a 429.",
                                "schema": {
                                    "type": "integer"
                                }
                            },
                            "X-RateLimit-Reset": {
                                "description": "Unix timestamp (seconds) at which the rate limit window resets and the counter returns to its maximum.",
                                "schema": {
                                    "type": "integer"
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/Unauthorized"
                    },
                    "403": {
                        "$ref": "#/components/responses/Forbidden"
                    },
                    "429": {
                        "$ref": "#/components/responses/TooManyRequests"
                    },
                    "500": {
                        "$ref": "#/components/responses/InternalServerError"
                    },
                    "422": {
                        "$ref": "#/components/responses/UnprocessableEntity"
                    },
                    "409": {
                        "$ref": "#/components/responses/Conflict"
                    }
                },
                "x-speakeasy-group": "recurringInvoices",
                "x-speakeasy-retries": {
                    "strategy": "backoff",
                    "backoff": {
                        "initialInterval": 500,
                        "maxInterval": 60000,
                        "maxElapsedTime": 3600000,
                        "exponent": 1.5
                    },
                    "statusCodes": [
                        "429",
                        "5XX"
                    ],
                    "retryConnectionErrors": true
                }
            }
        },
        "/suppliers/bulk-delete": {
            "post": {
                "operationId": "public-api.v1.suppliers.bulk_delete",
                "description": "Delete up to 200 suppliers in one request. Suppliers with associated contracts are reported in failed together with their display names; UUIDs from other tenants are ignored.",
                "summary": "Delete multiple suppliers in bulk",
                "tags": [
                    "Suppliers"
                ],
                "parameters": [
                    {
                        "$ref": "#/components/parameters/IdempotencyKey"
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkDeleteSuppliersRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "data": {
                                            "$ref": "#/components/schemas/BulkDeleteResult"
                                        }
                                    },
                                    "required": [
                                        "data"
                                    ]
                                }
                            }
                        },
                        "headers": {
                            "X-Request-Id": {
                                "description": "Unique request identifier, propagated for log correlation and support.",
                                "schema": {
                                    "type": "string",
                                    "format": "uuid"
                                }
                            },
                            "X-RateLimit-Limit": {
[...]
